@import 'reset.css';
html{
    height:100%
}
body{
    display:grid;
    align-content: center;
    height:100%;
    width:100vw;
    grid-template-columns: 1fr 2fr;
    overflow: auto;
}
@media(min-width:600px){
    .container{
        margin:0 50px;
    }
    .container2{
        display: flex;
        align-self: flex-start;
        margin-top:50px;
    }
 }

@media(max-width:599px ){
   body{
       height:100%;
       display:flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }
   .container{
       width:350px !important;
       height : 500px !important;
   }
   .date{
       font-size: 1.5rem !important;
   }
   .input,
   .input::placeholder,
   main{
    font-size: 1rem !important;
   }

   .container2{
    display: flex;
    align-self: center;
    margin-top:50px;
    width:300px;
    }
}
.container{
    display:flex;
    flex-direction: column;
    color:white;
    background-color: rgba(34, 33, 33, 0.534);
    font-family: sans-serif;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    width:400px;
    height: 600px;
    border-radius: 15px;
}
.container2 .searchIcon{
    background-color: rgba(255, 255, 255, 0.363);
    height:34px;
    width:30px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.searchIcon h3{
    margin: 8px;
}
.container2 h3{
    text-align: center;
}
.container2 input{
    width:400px;
    height: 2rem;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border:0;
    outline: 0;
    padding-left: 1rem;
    background-color: rgba(255, 255, 255, 0.363);
    color:white;
    font-weight: bold;
}
.container2 input::placeholder{
    color:white;
    font-size: 1rem;
}
header{
    height: 20%;
    display: flex;
    align-items: flex-end;
}
header h2{
    width:100%;
    font-size: 2rem;
    text-align: center;
    margin-bottom: .5rem;
}
main{
    padding:1rem;
    background-color: rgba(245, 245, 245, 0.747);
    height: 70%;
    font-size:1.3rem;
    color:rgb(82, 76, 77);
    overflow: auto;
}
ul li{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    padding: 10px;
}
.item{
    cursor: pointer;
}
.item:nth-child(3){
    overflow: visible;
    cursor:context-menu;;
}
.fa-trash-o{
    justify-self: self-end;
}
.dis-show{
    display: block;
}
.dis-non{
    display: none;
}
footer{
    height: 10%;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}
footer input{
    margin-left: 1rem;
    background-color: rgba(0,0,0,0);
    border: 0;
    outline: 0;
    height:2rem;
    font-size: 1.5rem;
    color:white;
}
footer input::placeholder{
    color:white;
    font-size: 1.3rem;
    text-decoration: underline;
}
.message{
    position: absolute;
    bottom:5px;
    left:5px;
    color:white;    
}